# dependencies
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.code-workspace
.changelog
.history

/node_modules
package-lock.json

.eslintcache

/build
coverage
.docusaurus
.cache-loader
types

.env.local
.env.development.local
.env.test.local
.env.production.local